<div >

  <%= form_with model: [@post, @comment] do |form| %>
    <%= form.object %>
    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body, data: { target: "comments.body" } %>
    </div>

    <div class="field">
      <%= form.label :post_id %>
      <%= form.text_field :post_id %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

</div>