<p id="notice"><%= notice %></p>
<p>#views/comments/index.html.erb</p>
<h1>Comments for Post # <%= @post.id %></h1>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Body</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr data-comment-id="<%= comment.id %>">
        <td scope="row"><%= comment.body %></td>
        <td><%= link_to 'Show Post', @post %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Erase', erase_path(comment), method: :delete, remote: true, data: { confirm: 'Are you sure to Erase?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to all Posts', posts_path, class:"badge badge-info", style:"color:white;font-size:16px;" %> |

<%= link_to 'New Comment (with custom"save")', new_post_comment_path, class:"badge badge-info", style:"color:white;font-size:16px;" %> 

