
<article style='display:inline-block; width: 340px;'>
    <div class="card">
        <div class="card-header">
            Title: <%= post.title %>
        </div>
        <div class="card-body">
            Body: <%= post.body %>
         </div>
        <div class="card-body">
            <%= link_to 'Show Comments', post_comments_path(post), class:"badge badge-info mybadge"%>
            <%= link_to 'Edit', edit_post_path(post), class:"badge badge-info mybadge" %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Do you want to Destroy?' }, class:"badge badge-info mybadge" %>
       </div>
    </div>
</article>
